{% extends 'base.html.twig' %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('homepage') }}">Tap&Go</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li {% if app.request.attributes.get('_route') == 'city_index' or
                        app.request.attributes.get('_route') == 'city_show' or
                        app.request.attributes.get('_route') == 'city_new' or
                        app.request.attributes.get('_route') == 'city_edit' %}class="active"{% endif %}>
                        <a href="{{ path('city_index') }}">Cities</a>
                    </li>
                    <li {% if app.request.attributes.get('_route') == 'station_index' or
                        app.request.attributes.get('_route') == 'station_show' or
                        app.request.attributes.get('_route') == 'station_new' or
                        app.request.attributes.get('_route') == 'station_edit' %}class="active"{% endif %}>
                        <a href="{{ path('station_index') }}">Stations</a>
                    </li>
                    <li {% if app.request.attributes.get('_route') == 'apidoc' %}class="active"{% endif %}>
                        <a href="{{ path('apidoc') }}">API Documentation</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}