{% extends 'layout.html.twig' %}

{% block body %}

    <div id="welcome">
        <h1>API Documentation</h1>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th class="col-md-3" >URI</th>
                <th class="col-md-3">Parameters</th>
                <th class="col-md-6">Response</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>GET /api/cities?page=0&limit=10</td>
                <td>
                    <strong>page</strong>​ : page (use with limit)<br/>
                    <strong>limit​</strong> : number of elements to get
                </td>
                <td>
                    <code class="language-json">
                        [{id: Long,name: String,latitude: Double,longitude: Double}]
                    </code>
                </td>
            </tr>
            <tr>
                <td>GET /api/stations/&lt;cityId&gt;?page0&limit=10</td>
                <td>
                    <strong>cityId​</strong> : city ID<br/>
                    <strong>page</strong>​ : page (use with limit)<br/>
                    <strong>limit​</strong> : number of elements to get
                </td>
                <td>
                    <code class="language-json">
                        {id: Long,creationDate: String (format ISO8601),lastUpdate: String (format ISO8601),name: String,address: String,description: String,latitude: Double,longitude: Double,bikesCapacity: Int,bikesAvailable: Int}
                    </code>
                </td>
            </tr>
            <tr>
                <td>GET /api/stations/near?lat=47.2322086&lng=-1.6134232&radius=10</td>
                <td>
                    <strong>cityId​</strong> : latitude of search point<br/>
                    <strong>lng​</strong>​ : longitude of search point<br/>
                    <strong>radius​</strong> : search radius (kilometers)
                </td>
                <td>
                    <code class="language-json">
                        {id: Long,creationDate: String (format ISO8601),lastUpdate: String (format ISO8601),name: String,address: String,description: String,latitude: Double,longitude: Double,bikesCapacity: Int,bikesAvailable: Int}
                    </code>
                </td>
            </tr>
            <tr>
                <td>POST /api/stations/&lt;stationId&gt;/take</td>
                <td>

                </td>
                <td>
                    <code class="language-json">
                        {result:Boolean}
                    </code>
                </td>
            </tr>
            <tr>
                <td>POST /api/stations/&lt;stationId&gt;/drop</td>
                <td>

                </td>
                <td>
                    <code class="language-json">
                        {result:Boolean}
                    </code>
                </td>
            </tr>
        </tbody>
    </table>

{% endblock %}