{% extends 'layout.html.twig' %}

{% block body %}
    <div id="welcome">
        <h1>Welcome to TapAndGo</h1>
    </div>

    <p>
        This is the default admin page from TapAndGo !<br/>
        From here you can manage the cities and stations from the app.
    </p>

    <div class="btn-group" role="group">
        <a href="{{ path('city_index') }}"><button type="button" class="btn btn-default">Cities</button></a>
        <a href="{{ path('station_index') }}"><button type="button" class="btn btn-default">Stations</button></a>
        <a href="{{ path('apidoc') }}"><button type="button" class="btn btn-default">API Documentation</button></a>
    </div>

{% endblock %}