{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Station edit</h1>
    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
        <input type="submit" class="btn btn-primary" value="Save" />
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
    {{ form_end(edit_form) }}

    <br/>
    <a href="{{ path('station_index') }}"><button type="button" class="btn btn-default">Back to the list</button></a>
{% endblock %}

{% block modals %}
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Delete station</h4>
                </div>
                <div class="modal-body">
                    Do you really want to delete this station ?
                </div>
                <div class="modal-footer">
                    {{ form_start(delete_form) }}
                    <input  class="btn btn-danger" type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}