{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Station creation</h1>

    <p>Please add at least one City before adding a Station </p>
    <br/>
    <a href="{{ path('city_new') }}"><button type="button" class="btn btn-default">Create new City</button></a>
{% endblock %}
