{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Stations list</h1>

    <div class="bg-danger col-md-4"><i>Inactive stations can't be find through API search</i></div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Bikes capacity</th>
                <th>Bikes available</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for station in stations %}
            <tr {% if station.status == 0 %}class="danger"{% endif %}>
                <td><a href="{{ path('station_show', { 'id': station.id }) }}">{{ station.id }}</a></td>
                <td>{{ station.name }}</td>
                <td>{{ station.description }}</td>
                <td>{{ station.latitude }}</td>
                <td>{{ station.longitude }}</td>
                <td>{{ station.bikesCapacity }}</td>
                <td>{{ station.bikesAvailable }}</td>
                <td>
                    <div class="btn-group" role="group">
                        <a href="{{ path('station_show', { 'id': station.id }) }}"><button type="button" class="btn btn-default">Details</button></a>
                        <a href="{{ path('station_edit', { 'id': station.id }) }}"><button type="button" class="btn btn-default">Edit</button></a>
                        <a href="{{ path('station_changestatus', { 'id': station.id }) }}"><button type="button" class="btn btn-default">{% if station.status %}Set inactive{% else %}Set active{% endif %}</button></a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('station_new') }}"><button type="button" class="btn btn-default">Create a new station</button></a>
{% endblock %}
