{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Station</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ station.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ station.name }}</td>
            </tr>
            <tr>
                <th>Creation date</th>
                <td>{% if station.creationDate %}{{ station.creationDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Last update</th>
                <td>{% if station.lastUpdate %}{{ station.lastUpdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ station.address }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ station.description }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ station.latitude }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ station.longitude }}</td>
            </tr>
            <tr>
                <th>Bikes capacity</th>
                <td>{{ station.bikesCapacity }}</td>
            </tr>
            <tr>
                <th>Bikes available</th>
                <td>{{ station.bikesAvailable }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{% if station.status %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <div class="btn-group" role="group" aria-label="...">
        <a href="{{ path('station_index') }}"><button type="button" class="btn btn-default">Back to the list</button></a>
        <a href="{{ path('station_edit', { 'id': station.id }) }}"><button type="button" class="btn btn-default">Edit</button></a>
    </div>
{% endblock %}
