{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Cities list</h1>

    <div class="bg-danger col-md-4"><i>Inactive cities can't be find through API search</i></div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for city in cities %}
            <tr {% if city.status == 0  %}class="danger"{% endif %}>
                <td><a href="{{ path('city_show', { 'id': city.id }) }}">{{ city.id }}</a></td>
                <td>{{ city.name }}</td>
                <td>{{ city.latitude }}</td>
                <td>{{ city.longitude }}</td>
                <td>
                    <div class="btn-group" role="group">
                        <a href="{{ path('city_show', { 'id': city.id }) }}"><button type="button" class="btn btn-default">Details</button></a>
                        <a href="{{ path('city_edit', { 'id': city.id }) }}"><button type="button" class="btn btn-default">Edit</button></a>
                        <a href="{{ path('city_changestatus', { 'id': city.id }) }}"><button type="button" class="btn btn-default">{% if city.status %}Set inactive{% else %}Set active{% endif %}</button></a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('city_new') }}"><button type="button" class="btn btn-default">Create a new city</button></a>

{% endblock %}
