{% extends 'layout.html.twig' %}

{% block body %}
    <h1>City creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-success" value="Create" />
    {{ form_end(form) }}
    <br/>
    <a href="{{ path('city_index') }}"><button type="button" class="btn btn-default">Back to the list</button></a>
{% endblock %}
