{% extends 'layout.html.twig' %}

{% block body %}
    <h1>City</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ city.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ city.name }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ city.latitude }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ city.longitude }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{% if city.status %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <div class="btn-group" role="group" aria-label="...">
        <a href="{{ path('city_index') }}"><button type="button" class="btn btn-default">Back to the list</button></a>
        <a href="{{ path('city_edit', { 'id': city.id }) }}"><button type="button" class="btn btn-default">Edit</button></a>
    </div>
{% endblock %}
